body {
    color: #153f5a;
    background-color: rgb(213, 238, 156);
    }
    .imagen {
    width: 50%;
    height: 50%;
    border: 1px solid #153f5a;
    float: right;
    }

    .menu a {
       
        display: inline-block;
        margin-left: 1%;
        line-height: 1;
        margin-right: 1%;

    }

    .menu a:hover{
        background: orange;
        transform:scale(2);
    }